@import "../www/lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import "login";
@import "top-navigation";
@import "side-navigation";

/* Global Styles */
.layout-wrapper {
    height:100vh;
    margin-top: 100px;
    background-color: #222;
}

.back-button {
  width:200px;
  height:10px;
  position:absolute;
  margin-top:16px;
  margin-left:16px;
  z-index:99999;

  i {
    font-size:24px;
    color:lighten(#445567, 20);
    width: 28px;
    height: 28px;
    text-align: center;
    z-index:99999;
  }
}

@media(min-width:768px) {
    .layout-wrapper {
        margin-top: 50px;
    }

    .back-button {
      margin-left: 26px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

.pointer{
  cursor:pointer;
}
