@import "../www/lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import "animation";
@import "mixins";
@import "radio-button";
@import "outline-buttons";

@import "login";
@import "top-navigation";
@import "side-navigation";

/* Global Styles */
body, html {
  height:100%;
}

.green {
  color: #00E676;
}

.red{
  color: #FF1744;
}

.layout-wrapper {
    margin-top: 100px;
    background-color: #222;
}

.back-button {
  width:100%;
  height:50px;
  background-color:white;
  position:fixed;
  margin-top:1px;
  padding-top:16px;
  z-index:2;

  i {
    font-size:24px;
    color:lighten(#445567, 20);
    width: 28px;
    height: 28px;
    text-align: center;
    z-index:99999;
  }
}

@media(min-width:768px) {
    .layout-wrapper {
        margin-top: 50px;
    }

    .back-button {
      margin-left: 26px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

.pointer{
  cursor:pointer;
}

.assignements-panel-header {
  background:#212121!important;
  color:#ffffff!important;
  border-bottom-color: lighten(#212121, 10)!important;
}
.assignements-panel-body {
  @include gradient(#232526, #414345);
  color:rgba(255, 255, 255, 0.70);
}

.assignements-panel-footer{
  background:#212121!important;
  color:#ffffff!important;
  border-top-color: lighten(#212121, 10)!important;
  display: inline-block;
  width: 100%;
  text-align: right;
}
.page-header{
  margin:50px 0 20px!important;
}
