<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Reservation <small>Detail</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" ui-sref="app.reservations" style="text-decoration:none;"><i class="fa fa-hotel"></i> Reservations</a>
                    </li>
                    <li class="active">
                        {{::vm.reservation.id}}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar-o fa-fw"></i> Reservations table</h3>
                    </div>
                    <div class="panel-body">
                      <!-- TODO table -->
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>customer_id</th>
                              <th>category_id</th>
                              <th>hotel_id</th>
                              <th>price</th>
                              <th>Start date</th>
                              <th>End date</th>
                              <th></th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{::vm.reservation.id}}</td>
                              <td><a href="#" ui-sref="app.customer_detail({id: vm.reservation.customer_id})">{{::vm.reservation.customer_id}}</a></td>
                              <td><a href="#" ui-sref="app.category_detail({id: vm.reservation.category_id})">{{::vm.reservation.category_id}}</a></td>
                              <td><a href="#" ui-sref="app.hotel_detail({id: vm.reservation.hotel_id})">{{::vm.reservation.hotel_id}}</a></td>
                              <td>{{::vm.reservation.price}}</td>
                              <td>{{::vm.reservation.start_date}}</td>
                              <td>{{::vm.reservation.end_date}}</td>
                              <td width="2%">
                                <a class="pointer"
                                ng-click="vm.showAssignView(vm.reservation);"
                                ng-if="!vm.reservation.assigned"
                                tooltip data-toggle="tooltip" data-placement="top" title="Assign reservation">
                                  <i class="fa fa-fw fa-hand-o-right"></i>
                                </a>
                                <a class="pointer"
                                  ng-click="vm.unAssign(vm.reservation);"
                                  ng-if="vm.reservation.assigned"
                                  tooltip data-toggle="tooltip" data-placement="top" title="Unassign reservation">
                                <i class="fa fa-fw fa-hand-o-left"></i>
                              </td>
                              <td width="2%"><i class="fa fa-fw fa-circle-o" ng-class="vm.reservation.assigned ? 'green' : 'red'"></i></td>
                              <td width="2%">
                                <a class="pointer"
                                ng-click="vm.remove(reservation);">
                                  <i class="fa fa-fw fa-trash-o"
                                  tooltip data-toggle="tooltip" data-placement="top" title="Remove row"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
