<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Customer: <small>{{::vm.customer.name}}</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="#" ui-sref="app.customers" style="text-decoration:none;"><i class="fa fa-user"></i> Customers</a>
                    </li>
                    <li class="active">
                      {{::vm.customer.id}}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Customers table</h3>
                    </div>
                    <div class="panel-body">
                      <!-- TODO table -->
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>name</th>
                              <th>email</th>
                              <th>National card ID</th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{::vm.customer.id}}</td>
                              <td>{{::vm.customer.name}}</td>
                              <td>{{::vm.customer.email}}</td>
                              <td>{{::vm.customer.nationalCardID}}</td>
                              <td width="2%">
                                <i class="fa fa-fw fa-pencil"
                                tooltip data-toggle="tooltip" data-placement="top" title="Edit customer"></i>
                              </td>
                              <td width="2%">
                                <a class="pointer"
                                ng-click="vm.remove(vm.customer);">
                                  <i class="fa fa-fw fa-trash-o"
                                  tooltip data-toggle="tooltip" data-placement="top" title="Remove row"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
